* {
    border: none;
    border-radius: 0;
    font-family: Monaco, monospace, FontAwesome;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.85);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    background: #eb4d4b;
}

#mode,
#clock #battery {
    padding: 0 10px;
}

#custom-mymusic {
    /* color: #a6dfb8; */
    color: rgb(199, 231, 220);
}

#clock {
    border-bottom: 2px solid white;
}

#cpu.icon {
    color: #a6dfb8;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
